In [4]:
# Add a list of elements to a set.

list = [1,2,3,4,5]
set = {"rohit",6,8,9}
print(id(set))
set.update(list)
print(set)
print(id(set))

2335638028576
{'rohit', 1, 2, 3, 4, 6, 5, 8, 9}
2335638028576
{'rohit', 1, 2, 3, 4, 6, 5, 8, 9}

In [5]:
# return a new set of identical items from two sets.

set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8,9,10}
set1.intersection(set2)
set1.intersection_update(set2)
print(set1)

{3, 4, 5, 6}

In [41]:
# get only unique items from two sets.

a = {1,"rohit",2,3,3,4,5}
b = {1,2,2,"rohit",3,4}
a.union(b)
a.update(b)
print(a)

{1, 2, 3, 4, 5, 'rohit'}

In [13]:
# Update the first set with items that don't exist in the second set.

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}
set1.difference(set2)
set1.difference_update(set2)
print(set1)

{1, 2, 3}

In [53]:
# remove items from the set at once.

set = {"rohit","gaurav","is a good boy"}
set.remove("rohit")
print(set)

{'gaurav', 'is a good boy'}

In [51]:
# Return a set of elements present in set A or B,but not both.

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
# Check if two sets have any element in common. if yes,display the common elements.

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}
set1.intersection(set2)
set1.intersection_update(set2)
print(set1)

{4, 5}

In [12]:
# Update set 1 by adding items from set2,except common items.

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}
set1.symmetric_difference(set2)
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 6, 7, 8, 9}

In [5]:
# Remove items from set1 that are not common to both set1 and set2.

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}
set1.difference(set2)
set1.difference_update(set2)
print(set1)

{1, 2, 3}

# Table of contant

In [11]:
# reverse a list in python.

lst = [9,8,7,6,5,4,3,2,1] 
lst.reverse()
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# concatinate two lists index-wise.
 
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
x = str(lst1[0])
y = str(lst2[4])
print(x+y)

110

In [1]:
# Turn every item of a list into its square.

lst = [1,2,3,4]
for a in lst:
    b = a * a
    print(b)

1
4
9
16

In [29]:
# Concatenste two lists in the following order
# lst1 = ["Hello","Take"]
# lst2 = ["Dear","Sir"]

# Exected output:
# ["Hello Dear","Hello Sir","Take Dear","Take Sir"]

lst1 = ["Hello","Take"]
lst2 = ["Dear","Sir"]

x = lst1[0]
y = lst1[1]
z = lst2[0]
k = lst2[1]
print([x+z,x+k,y+z,y+k])

['HelloDear', 'HelloSir', 'TakeDear', 'TakeSir']

In [6]:
# Iterate both lists simultaneously.
 
lst1 = [1,2,3,4,5,6]
lst2 = [6,5,4,3,2,1]
for d in (lst1,lst2):
    print(d)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [3]:
## Remove empty strings from the list of string.

lst = ["rohit","","rishi"]
lst.remove("")
print(lst)

['rohit', 'rishi']

In [35]:
# Add new itens to list after a specified item.

lst = [ 1,2,3,4,5,6]
lst.insert(3,407)
print(lst)

[1, 2, 3, 407, 4, 5, 6]

In [38]:
# Extend nested list by adding the sublist.

lst = ["rishi","kartik",["rahul"],"gaurav"]
lst.extend(["mohit",["rohit"]])
print(lst)

['rishi', 'kartik', 'gaurav', 'mohit', ['rohit']]

In [4]:
# Replace list's item with new value if found.

lst = ["rishi","kartik","gaurav"]
lst[1] = "ROHIT"
lst

['rishi', 'ROHIT', 'gaurav']

In [47]:
# Remove all occurrences of a specific item from a list.

lst = [1,2,8,3,4,4,5,6,6,7,8,9]
lst.remove(8)
lst.remove(4)
lst.remove(6)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#  Dict questions.

In [33]:
# Convert two lists into a dictionary.

name = ["rohit","rishi"]
age  = [26,27]
x = str(name[0])
y = str(name[1])
z = age[0]
k = age[1]
h = {x:z,y:k}
print(h)
print(type(h))

{'rohit': 26, 'rishi': 27}
<class 'dict'>

In [25]:
# Merge two Python dict into one.

dict1 = {"rohit":23}
dict2 = {"rishi":24}
dict1.update(dict2)
print(dict1)

{'rohit': 23, 'rishi': 24}

In [28]:
# print the value of a key from any dict.

dict2["rishi"]

24

In [5]:
# Initialize dict with defult values.

B = dict(ROHIT=22,BOBBY=23,RISHI=21)
print(B)

{'ROHIT': 22, 'BOBBY': 23, 'RISHI': 21}

In [9]:
# Creat a dict by extracting the keys from a given dict.

dict1 = {"Hello":12,"python":13}
print(dict1.keys())
print(type(dict1))

dict_keys(['Hello', 'python'])
<class 'dict'>

In [15]:
# delete a list of a keys from a dict.

dict1 = {"Hello":12,"python":13}
del(dict1["Hello"])
print(dict1)

{'python': 13}

In [21]:
# check if value exists in a dict.

dict1 = {"Hello":12,"python":13}
x = dict1.values()
print(x)
check = 12 in x
print(check)

dict_values([12, 13])
True

In [6]:
# Rename key of a dict.
dict1 = {"Hello":12,"python":13}
dict1.pop("python")

print(dict1)
dict1.update({"Rishi":13})
print(dict1)

{'Hello': 12}
{'Hello': 12, 'Rishi': 13}

In [3]:
# Get the kry of a minimam value from the dollowing dict.

dict1 = {"Hello":12,"python":13}
max(dict1)

'python'