# OOPS

Every object must be the uniquely identifined

- 1- Identity: Every objects must be in uniquely identified.
- 2- State: An object has attributes that represent the state of an object.
- 3- Behavior: An object has methods that represent its behavior.


Object is an instance of a class

Class is a blueprint or code template for object creation.Using a class, you can create as many object as you want.

# **Methods are defined for the objects of a particular class where as fuction are not defined for a particular class**

In [2]:
# Creating a class

class class_name:
    """ This is a docstring,I have created a class"""
    
class_name.__doc__

' This is a docstring,I have created a class'

In [1]:
class person:
    def __init__(self,name,gender,profession):    # object initialization,parameter
        
        # State (attributes - variables)
        self.name_ = name       # instance attribute (instance is an object).
        self.gender_ = gender
        self.profession_ = profession
        
        
    #Behaviour (methods)
    def show(self):
        print("Name:",self.name_,"gender:",self.gender_,'Profession:',self.profession_)
        
    def work(self):
        print(self.name_,'is working as a',self. profession_)

In [2]:
#object creation
ram = person("ram","male","software developer")
shyam = person ("shyam", "male","data scientist")

In [5]:
ram.name_ = "Rohit"     # also we can change the arguements 
print(ram.name_)
print(ram.gender_)
print(ram.profession_)

ram.salary_ = 15000            #  new attributes 
print(ram.salary_)

ram.town_ = "bhowali"
print(ram.town_)
ram.show()
ram.work()
shyam.show()
shyam.work()

ram.name_

Rohit
male
software developer
15000
bhowali
Name: Rohit gender: male Profession: software developer
Rohit is working as a software developer
Name: shyam gender: male Profession: data scientist
shyam is working as a data scientist

'Rohit'

In [16]:
ram.salary_ = 15000            #  new attributes 
print(ram.salary_)

15000

In [6]:
print(ram.salary_)

15000

In [10]:
ram.town_ = "bhowali"
print(ram.town_)

bhowali

In [6]:
class cars:
    def __init__ (self,name,average,cc):
        self.name_= name
        self.average_= average
        self.cc_= cc
    def data(self):
        print("name-",self.name_,"average-",self.average_,"cc-",self.cc_)
        
    def work(self):
        print("my car",self.name_,"average is",self.average_,"and his cc is",self.cc_)

In [7]:
x = cars("BMW",12,1000)

In [9]:
print("NAME -",x.name_)
print("Average -",x.average_)
print("Cc -",x.cc_)
x.amount = "1cr"
print("Amount -",x.amount)
x.feature = "automatic"
print("Automatic -",x.feature)




x.data()
x.work()

NAME - BMW
Average - 12
Cc - 1000
Amount - 1cr
Automatic - automatic

AttributeError: type object 'cars' has no attribute 'name_'

In [4]:
x.data()
x.work()

name- BMW average- 12 cc- 1000
my car BMW average is 12 and his cc is 1000

# Class Attributes

- Instence variables
- class variables

In [ ]:
# instence variabvles - Attached to an instance(object) of a class.
#                     - Defined inside any method but generally inside the __init__() method.
#                     - Every object will have its own copy.

# Class variables - Attached to the class
#                 - Decleard inside the class but outside of any method.
#                 - Every object will have share the same class variables.

In [1]:
class student:
    # calss variables
    school_name = "ABC school"
    
    
    def __init__(self, name , age ):      
        # instsnce variableds
        self.name = name         # name is local variable,
        self.age  = age
        
s1 = student("Jack",12)

In [6]:
# access instance variables

print("student :-",  "Name - ",s1.name," ; ","Age - ",s1.age)

student :- Name -  Jack  ;  Age -  12

In [7]:
# acess class variables

print("school name :-",student.school_name)

school name :- ABC school

In [64]:
s1.school_name              # class variable can access to any mathod inside the class

'ABC school'

In [8]:
s1.age,s1.name

(12, 'Jack')

In [9]:
# Modifie instance variable

s1.name = "Tom"
s1.age = 14
print("Student:",s1.name,s1.age)

Student: Tom 14

In [10]:
student.school_name = "ABC school"
print(student.school_name)

ABC school

In [11]:
# Modifie class variable

student.school_name = "XYZ School"
print("Student :",student.school_name)

Student : XYZ School

In [22]:
class student:
    # calss variables
    school_name = "ABC school"
    
    
    def __init__(self, name , age ):      
        # instsnce variableds
        self.name = name         # name is local variable,
        self.age  = age
        
s1 = student("Jack",12)

In [23]:
#Expreiments
s1.name = "Tom"
s1.age = 12
s2 = student("Jack",13)         # s1,s2,s3 is instance object
s2.school_name = "XYZ School"   # created school_name is instance variable for s2
s3 = student("ram",14)
s3.school_name = "QWE School"   # created school_name is instance variable for s3

print(s2.school_name)          # but the class variable 'school variable' is not changing
print(s3.school_name)
print(student.school_name)

XYZ School
QWE School
ABC school

In [31]:
s1.school_name

'ABC school'

In [32]:
student.profession = "data science"
s1.profession 
print(s1.profession )
print(s2.profession )
print(s3.profession )
print(student.profession)

data science
data science
data science
data science

In [35]:
print(s1.school_name)
print(s2.school_name)
print(s3.school_name)
print(s1.age)
print(s2.age)
print(s3.age)

ABC school
XYZ School
QWE School
12
13
14

In [61]:
class game:
    team_name = "india circket team"
  
    def __init__(obj,name,run,six,four):
        obj.name = name
        obj.run  = run
        obj.six  = six
        obj.four = four
        
    def report(game):
        print("player",game.name,"has made",game.run,"runs with the help of",game.six,"sixes and",game.four,"fours")
        
        
        
x1 = game("virat",110,5,8)
x2 = game("rohit",101,8,5)
x3 = game("rahul",55,2,4)

In [64]:
print(x1.team_name)
print("player name:-",x1.name,"runs:-",x1.run,"sixes:-",x1.six,"fours:-",x1.four)
print("player name:-",x2.name,"runs:-",x2.run,"sixes:-",x2.six,"fours:-",x2.four)
print("player name:-",x3.name,"runs:-",x3.run,"sixes:-",x3.six,"fours:-",x3.four)

# made 2nd class variable 
game.team_name = ("Pakistan circket team")
print(game.team_name)
x4 = game("ali",77,2,5)
x5 = game("irfan",55,3,6)
x6 = game("razak",88,4,7)
print("player name:-",x4.name,"runs:-",x4.run,"sixes:-",x4.six,"fours:-",x4.four)
print("player name:-",x5.name,"runs:-",x5.run,"sixes:-",x5.six,"fours:-",x5.four)
print("player name:-",x6.name,"runs:-",x6.run,"sixes:-",x6.six,"fours:-",x6.four)


x1.report()
x2.report()
x3.report()

x4.report()
x5.report()
x6.report()

Pakistan circket team
player name:- virat runs:- 110 sixes:- 5 fours:- 8
player name:- rohit runs:- 101 sixes:- 8 fours:- 5
player name:- rahul runs:- 55 sixes:- 2 fours:- 4
Pakistan circket team
player name:- ali runs:- 77 sixes:- 2 fours:- 5
player name:- irfan runs:- 55 sixes:- 3 fours:- 6
player name:- razak runs:- 88 sixes:- 4 fours:- 7
player virat has made 110 runs with the help of 5 sixes and 8 fours
player rohit has made 101 runs with the help of 8 sixes and 5 fours
player rahul has made 55 runs with the help of 2 sixes and 4 fours
player ali has made 77 runs with the help of 2 sixes and 5 fours
player irfan has made 55 runs with the help of 3 sixes and 6 fours
player razak has made 88 runs with the help of 4 sixes and 7 fours

# Deleting object attributes

In [24]:
del s2.school_name

In [25]:
s2.school_name

'ABC school'

# Deleting an object

In [26]:
del s2

In [27]:
s2.school_name

NameError: name 's2' is not defined